/*
 * helper-classes.css
 * Contains CSS for basic static website named "Diamond Hospitality"
*/

/*
    =========================================
    Default Theme
    ----------------------------------------
    Fonts: Roboto Condensed
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
    ----------------------------------------
    colors:
    blue : #34C6D3
    grey: #42474C
    dark-grey: #3A3F43
    ----------------------------------------
    USAGE OF COLOR VARIABLES
    background: $mainBlue;
*/


/**************************************************************************************************************************
                                                    HELPER CLASS
**************************************************************************************************************************/
.text-center{
    text-align: center;
}
.parallax-effect{
    background-attachment: fixed!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
/**************************************************************************************************************************
                                                        CONTENT BOXES
**************************************************************************************************************************/
.content-box-lg{
    padding: 160px 0;
}
.content-box-md{
    padding: 70px 0;
}
.content-box-sm{
    padding: 40px 0;
}

/**************************************************************************************************************************
                                                        MARGINS
**************************************************************************************************************************/


.m-0 {
    margin: 0 !important;
}
.m-10 {
    margin: 10px !important;
}
.m-20 {
    margin: 20px !important;
}
.m-30 {
    margin: 30px !important;
}
.m-40 {
    margin: 40px !important;
}
.m-50 {
    margin: 50px !important;
}
.m-60 {
    margin: 60px !important;
}
.m-70 {
    margin: 70px !important;
}
.m-80 {
    margin: 80px !important;
}
.m-90 {
    margin: 90px !important;
}
.m-100 {
    margin: 100px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-t-30 {
    margin-top: 30px !important;
}
.m-t-40 {
    margin-top: 40px !important;
}
.m-t-50 {
    margin-top: 50px !important;
}
.m-t-60 {
    margin-top: 60px !important;
}
.m-t-70 {
    margin-top: 70px !important;
}
.m-t-80 {
    margin-top: 80px !important;
}
.m-t-90 {
    margin-top: 90px !important;
}
.m-t-100 {
    margin-top: 100px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}
.m-b-10 {
    margin-bottom: 10px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}
.m-b-30 {
    margin-bottom: 30px !important;
}
.m-b-40 {
    margin-bottom: 40px !important;
}
.m-b-50 {
    margin-bottom: 50px !important;
}
.m-b-60 {
    margin-bottom: 60px !important;
}
.m-b-70 {
    margin-bottom: 70px !important;
}
.m-b-80 {
    margin-bottom: 80px !important;
}
.m-b-90 {
    margin-bottom: 90px !important;
}
.m-b-100 {
    margin-bottom: 100px !important;
}

/**************************************************************************************************************************
                                                        PADDINGS
**************************************************************************************************************************/

.p-0 {
    padding: 0 !important;
}
.p-10 {
    padding: 10px !important;
}
.p-20 {
    padding: 20px !important;
}
.p-30 {
    padding: 30px !important;
}
.p-40 {
    padding: 40px !important;
}
.p-50 {
    padding: 50px !important;
}
.p-60 {
    padding: 60px !important;
}
.p-70 {
    padding: 70px !important;
}
.p-80 {
    padding: 80px !important;
}
.p-90 {
    padding: 90px !important;
}
.p-100 {
    padding: 100px !important;
}

.p-t-0 {
    padding-top: 0 !important;
}
.p-t-10 {
    padding-top: 10px !important;
}
.p-t-20 {
    padding-top: 20px !important;
}
.p-t-30 {
    padding-top: 30px !important;
}
.p-t-40 {
    padding-top: 40px !important;
}
.p-t-50 {
    padding-top: 50px !important;
}
.p-t-60 {
    padding-top: 60px !important;
}
.p-t-70 {
    padding-top: 70px !important;
}
.p-t-80 {
    padding-top: 80px !important;
}
.p-t-90 {
    padding-top: 90px !important;
}
.p-t-100 {
    padding-top: 100px !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}
.p-b-10 {
    padding-bottom: 10px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}
.p-b-30 {
    padding-bottom: 30px !important;
}
.p-b-40 {
    padding-bottom: 40px !important;
}
.p-b-50 {
    padding-bottom: 50px !important;
}
.p-b-60 {
    padding-bottom: 60px !important;
}
.p-b-70 {
    padding-bottom: 70px !important;
}
.p-b-80 {
    padding-bottom: 80px !important;
}
.p-b-90 {
    padding-bottom: 90px !important;
}
.p-b-100 {
    padding-bottom: 100px !important;
}

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: 'Open-sans', sans-serif;
}

/******************************************
            COLORS,FONTS
********************************************/
            /* Font :Open sans;
            primary color: #3764eb;
            secondary color:#3c4750; */


/************************************************
                BUTTONS
*************************************************/
.btn-blue{
    background-color: #3764eb;
    color: #FFF;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 10px;
    transition: all 0.3s;
}
.btn-blue:hover{
    transform: scale(1.1);
    color: #FFF;
}

.btn-gray{
    background-color: #3c4750;
    color: #FFF;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 10px;
    transition: all 0.3s;
}
.btn-gray:hover{
    transform: scale(1.1);
    color: #FFF;
}

.btn-transparent{
    background:transparent;
    border: solid 1px #FFF;
    color: #FFF;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 10px;
    transition: all 0.3s;
}
.btn-transparent:hover{
    transform: scale(1.1);
    color: #FFF;
}

/*************************************
            TEXT-PRIMARY
**************************************/
.text-primary{
    color: #3764eb;
    font-weight: 800;
}
.text-secondary{
    color: #3c4750;
    font-weight: 800;
}


