*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Open-sans', sans-serif;
}

.container-large{
    width: 923px;
    margin: 0 auto;

}
/******************************************
            COLORS,FONTS
********************************************/
            /* Font :Open sans;
            primary color: #3764eb;
            secondary color:#3c4750; */


/*****************************************************
                CONTENT BOXES
******************************************************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding: 80px 0;
}
/************************************************
                BUTTONS
*************************************************/
.btn-blue{
    background-color: #3764eb;
    color: #FFF;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    /* margin: 10px 10px; */
    transition: all 0.3s;
}
/*******************************
      parallax
******************************/
.parallax-effect{
    background-attachment: fixed!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
/**********************************
        HEADER
**********************************/
#header{
    height: 80px;
    position: fixed;
    z-index: 9999;
}
.left-nav{
    background-color:  #3764eb;
    padding: 0;
    margin: 0;
}
.left-nav h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
    text-align: end;
    font-size: 25px;
    padding: 20px 20px 0 20px;
}
.left-nav p{
    text-transform: uppercase;
    text-align: end;
    color: #fff;
    padding-right: 20px;
    font-size: 15px;
    padding-bottom: 20px;
}
#header .col-md-4{
    padding: 0;
    margin: 0;
    
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.navs{
    display: flex;
    margin-top: 40px;
    margin-left: 60px;
}
.links{
    padding-left: 20px;
}
.links a{
    color: #aaa;
}
.links a:focus,
.links a:hover{
    color: #3764eb;
    text-decoration:none;
    border-bottom: solid 3px #3764eb;
    padding-bottom: 25px;
}
.navs li i{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    color: #aaa;
}


/**************************************
            FOOTER
**************************************/        

.footer{
    padding-top: 50px;
}

.heading-footer p{
    
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #F4F4F4;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;

    
}

.heading-footer h2{
    margin: 0;
    color: #F4F4F4;
    padding: 0;
    margin: 0;
    line-height: 1.8rem;
    
}

.heading-footer .built-for{
    color: #8d949c;
    font-size: 1.4rem;

}
.heading-footer .color-white{
    color: #F4F4F4;
    font-weight: 800;
    font-size: 2rem;
}

.heading-footer .text-primary{
    font-size: 2rem;
}
.heading-footer .paragraph-text{
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
    
    

}

.paragraph-text p{
    color: #8d949c;
    line-height: 2rem;

}
.inner-text ul li a{
    color: #8d949c;
    font-weight: 500;
    display: inline-block;
    padding-top: 2rem;
}

.bg-color{
    background-color: #242e38;
}

.paragraph-text p{
    padding-top: 2rem;
    font-weight: 300;
    font-size: 1.2rem;
}


.navbar-full{
    width: 100%;
    height: 5rem;
}
.navbar-color{
    background-color: #1c252e;
}

.navbar-full p{
    text-align: center;
    color: #8d949c;
    padding-top: 1.5rem;
}

.btn-blue:hover{
    transform: scale(1.1);
    color: #FFF;
}

.btn-gray{
    background-color: #3c4750;
    color: #FFF;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    /* margin: 10px 10px; */
    transition: all 0.3s;
}
.btn-gray:hover{
    transform: scale(1.1);
    color: #FFF;
}

.btn-transparent{
    background:transparent;
    border: solid 1px #FFF;
    color: #FFF;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    /* margin: 10px 10px; */
    transition: all 0.3s;
}
.btn-transparent:hover{
    transform: scale(1.1);
    color: #FFF;
}

/*************************************
            TEXT-PRIMARY
**************************************/
.text-primary{
    color: #3764eb;
    font-weight: 800;
}
.text-secondary{
    color: #3c4750;
    font-weight: 800;
}

/*******************************************
             SHOWCASE
********************************************/
.showcase{
    min-width: 100%;
    min-height: 100%;
    position: relative;
}
.showcase-img{
    width: 100%;
    height: 100vh;
    background-image: url('../images/home/photo-of-man-holding-a-book-927022.jpg');
}
.showcase-text{
    position: absolute;
    top:30%;
    left: 20%;
}
.showcase-text h2{
    font-family: 'Open Sans Light', sans-serif;
    color: #FFF;
    font-size: 45px;
    /* font-weight: 80; */
}
.showcase-text span{
    font-family: 'Open Sans Bold',sans-serif;
    font-weight: 700;
    font-size: 80px;
}
.showcase-text button{
    margin-right: 15px;
}
/*****************************************************
                OWL CAROUSEL SETTINGS
******************************************************/
.owl-theme .owl-nav [class*=owl-]{
    color: #FFF;
    font-size: 1.5rem;
    background-color: #CCC;
    border-radius: 100%;
    transition: all 0.3s;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background-color: #3764eb;
    /* color: #3764eb; */
}
/***************************************************
                  ABOUT SECTION
****************************************************/

.about{
    background-color: #3764eb;
    width: 100%;
    height: 350px;
    /* padding-top: 200px;
    padding-bottom: 200px; */
    position: relative;
}
.about .about-text{
    text-transform: capitalize;
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    padding-top: 0;
    line-height: 4rem;
    padding-top: 25px;
}
.about-cards{
    position: relative;
    top: -20%;
    /* left: 20%; */
}
.card{
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    transition: all 0.3s;
}
.card img{
    margin-top: 50px;
    width: 22%;
    height: 22%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.card h3{
    color: #3c4750;
    margin-top: 0;
    padding-top: 30px;
    font-weight: 700;
}
.card p{
    font-size: 12px;
    color: #777;
    padding: 0 35px 55px 35px;
    justify-content: center;
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

/***************************************************
                  experiance SECTION
****************************************************/
.experiance{
    position: relative;
}
.experiance-title{
    color: #777;
    font-size: 100px;
    font-weight: 800;
    position: absolute;
    top:75%;
    opacity: 0.1;
}
.experiance-image img{
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
.experiance-text h2{
    font-family: 'Open Sans Light',sans-serif;
    font-size: 60px;
    font-weight: lighter;
    margin: 0;
}
.experiance-text span{
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
}
.experiance-text p{
    color: #777;
    font-size: 12px;
    padding-top: 20px;
}
.experiance-text .check{
    color: #3764eb;
    padding-right: 10px;
}
.experiance-text ul{
    line-height: 3rem;
    font-size: 12px;
}
/***************************************************
                  EXPERT SECTION
****************************************************/
.expert-services{
    margin-top: 250px;
    background-color: #EEEE;
}
.expert{
    background-color: #EEEE;
}
.expert h2{
    font-family: 'Open Sans Light';
    /* font-weight: 100; */
}
.expert span{
    font-family: 'Open Sans';
    font-weight: 900;
}
.expert span{
    display: inline-block;
    padding-top: 10px;
    padding-right: 5px;

}
#services{
    margin-top: 40px;
}
.service img{
    width: 10%;
}



/************************************
        SUBSCRIBE
**************************************/
#subscribe{
    background-color: #444;
}
#subscribe-approach{
    margin-top: 250px;
    background-color: #444;
}
#subscribe-blue{
    background-color: #3764eb;
}
.subscribe-icons{
    height: 10rem;
    font-size: 65px;
    color: #fff;
    padding-bottom: -10px;
}
.circle-icon{
    position: relative;
}
.comment-icon{
    position: absolute;
    top: 0;
    left: 60%;
}
.subscribe-heading{
    margin-left: 20px;
    margin-top: 10px;
}
.subscribe-heading h2{
    display: inline-block;
    margin-left: 20px;
    margin-top: -120px;
    color: #fff;
    font-weight: bold;
}
.subscribe-heading p{
    font-size: 14px;
    margin-left: 20px;
    color: #ccc;
}
.subscribe-form .subscribe-text::placeholder{
    color: #DDD;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 12px;
}
.subscribe-form .subscribe-text{
    background-color: #3c4750;
    outline: none;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 10px;
    color: #FFF;
}
.subscribe-btn:hover{
    transform: scale(1);
}
/********************************************************************************************************************************************************
                                                                    CONTACT SECTION
********************************************************************************************************************************************************/
.contact-section{
    margin-left: 120px;
    /* margin-top: 50px; */
}
.contact-heading{
    font-size: 35px;
}
.contact-heading h2{
    margin-bottom: 0;
    font-size: 40px;
    font-weight: normal;
}
.contact-location i{
    font-size: 20px;
    border: 1px solid #fff;
    background-color: #3764eb;
    display: inline-block;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
}
.contact-location{
    margin-left: 55px;
}
.contact-place p{
    color: #232323;
}
.contact-place{
    margin-top: 20px;
}
.contact-phone i{
    font-size: 20px;
    border: 1px solid #fff;
    background-color: #3764eb;
    display: inline-block;
    border-radius: 50%;
    padding: 15px;
    color: #fff;
}
.contact-phone{
    margin-left: 25px;
}
/********************************************************************************************************************************************************
                                                                    TEAM SECTION
********************************************************************************************************************************************************/
#team-dark{
    background-color: #3c4750;
}
#team-dark .color-icon{
    background-color: #333;
    border: none;
}
#team-dark .color-icon:hover{
    background-color: #3764eb;
}
.member-img{
    overflow: hidden;
}
.member-img img{
    transition: all 0.3s;
}
.team-member img:hover{
    transform: scale(1.1);
}
.team-member h5{
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}
.heading{
    margin-bottom: 50px;
    margin-top: 50px;
}
.team-member p{
    text-align: center;
    text-transform: uppercase;
    color: #3764eb;
    font-weight: 700;
}
.team-icons{
    margin-left: 40px;
    margin-bottom: 30px;
}
.color-icon{
    border: 1px solid #fff;
    background-color: #eee;
    padding: 10px;
    margin: 5px;
    color: #aaa;
    cursor: pointer;
    transition: all 0.3s;
}
.color-icon:hover{
    background-color: #3764eb;
    color: #FFF;
}
.map{
    width: 100%;
}
  /*****************************************
               CHOOSE US
********************************************/
.choose-us{
    background-image: url('../images/home/laptop-and-coffee-3184464.jpg');
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}
.choose-us-holder{
    padding-top: 50px;
    z-index: 22;
}
.choose-us-card{
    display: grid;
    grid-template-columns: 3fr 9fr;
    margin-bottom: 20px;
    color: #FFF;
    z-index: 9999;
    /* justify-content: space-between; */
}
.icon-holder{
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 70px;
    margin-top: 10px;
    border-radius: 100%;
    border: solid 1px #3764eb;
    cursor: pointer;
    transition: all 0.3s;
}
.choose-us-heading p{
    font-size: 12px;
}
.choose-us-overlay{
    /* opacity: .3; */
    background-color: rgba(0,0,0,0.55);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    /* z-index: -1; */
}
.icon-holder:hover{
    background-color: #3764eb;
}


/****************************************
        ABOUT SECTION
*****************************************/

.consult-hub-p{
    color: #777;
    font-size: 12px;
    padding-top: 20px;
}
.consult-hub-card{
    margin-top: 20px;
    border: solid 1px rgba(0,0,0,0.15);
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.consult-hub-card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}
.consult-hub-card img{
    margin-bottom: 15px;
}
.consult-hub-card h4{
    font-weight: 700;
    padding-bottom: 20px;
}
.consult-hub-card p{
    font-size: 12px;
    color: #777;
    font-weight: 100;
}

/***********************************
        Common Nav
********************************/
.about-us{
    background-color: #2e3841;
}

.about-us .about-heading{
    padding: 5rem 0;
    text-align: center;
}

.about-heading span{
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: #F4F4F4 solid .5px;
  color: #F4F4F4;
  font-weight: 300;
  opacity: 0.5;
  
}

.about-heading span a{
    color: #F4F4F4;
    text-decoration: none;
    padding: 0 0.2rem;
}

.about-heading h2{
    color: #F4F4F4;
    padding-top: 1.5rem;
    font-weight: 700;
    font-size: 50px;
}
/*******************************************
        TESTIMONIAL
*******************************************/

#testimonials{
    margin-top: 1rem;
}

.testimonials-section{
    background-color: #2e3841;
}

.testimonial-heading{
    padding: 5rem 0;
    text-align: center;
}

.testimonial-heading h1{
    color: #F4F4F4;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    opacity: 0.6;
    padding: 0;
    margin: 0;
}

.testimonial-heading h2{
    color: #F4F4F4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-top: 0;
    margin-top: 0;
}

.image{
    margin: 0 auto;
    border-radius: 100%;
}

.client{
    background-color: #353F48;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    border: transparent;  
    
}

.client-name p{
    font-size: 0.6rem;
    padding: 0;
    margin: 0;
    padding-top: 1rem;
    font-weight: 800;
    padding-left: 0.5rem;
    text-transform: uppercase;

}

.client-name h2{
    color: #F4F4F4;
    font-size: 1rem;
    padding-left: 0.5rem;
    font-weight: 700;
    padding-top: 0.3rem;
}

/* .client-description{
    padding: 2rem 0;
    
} */
.client-description p{
    color: #747D85;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 2rem 0.5rem;
    border: #353F48 solid 2px;
}

/* .item{
    margin-bottom: 3rem;
    border: #353F48 solid 2px;
} */

.margin-box{
    margin: 0 5rem;
}

.item{
    margin-bottom: 4rem;
}
/************************************************************
                    APPROACH
************************************************************/

#approach-questions-dark{
    /* margin: 6rem 0; */
    background-color: #CCC;
}
/* #approach-questions{
    /* margin: 6rem 0; */
/* }  */

.approch-heading-dark{
    background-color: #CCC;
}


.approach-heading h1{
    font-size: 7rem;
}

.approach-heading h2{
    line-height: 0;
}

.approach-heading .text-edit{
    color: #6d7780;
    margin-top: 3rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.question{
    margin-top: 1.5rem;
    background-color: #F3F3F3;
}

.question-dark{
    margin-top: 1.5rem;
    background-color: #CCC;
}

.questions-dark{
    background-color: #CCC;
}
.questions-dark .question{
    background-color: #CCC;
    border: solid 1px rgba(0,0,0, 0.3);
}
.question p{
    color: #818990;
    font-size: 1.5rem;
    display: inline-block;
    margin: 1.5rem;
    
}

.question i{
    display: inline-block;
    padding-left: 28rem;
    line-height: 1.5rem;
}

/******************************************************
            CONTACT FORM
*****************************************************/

.form{
    margin: 5rem 0;
}

.form label{
    margin-top: 2rem;
}

.align{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 45rem;
    padding: 1.5rem 5rem;
    font-size: 1.5rem;
}


