*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sana' ,sans-serif;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.nav-left h4{
    margin-top: 0;
    margin-bottom: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
}
.nav-left{
    background-color: #3764eb;
    padding: 25px 25px;
}
.nav-left span{
    display: block;
    color: #FFF;
    font-size: 11px;
    word-spacing: 4px;
}
.nav-right-top{
    background-color: #3c4750;
}